/book/chapters/funcoes/mcode/taylore-eps-converted-to.pdf
/*/*/*/*/*-converted-to.pdf
/*/*/*/*-converted-to.pdf
/*/*/*-converted-to.pdf
/*/*-converted-to.pdf
/book/chapters/minimization/mfiles/hx3_a_alphax/octave-workspace
