/*/*/*/*/*/*-converted-to.pdf
/*/*/*/*/*-converted-to.pdf
/*/*/*/*-converted-to.pdf
/*/*/*-converted-to.pdf
/*/*-converted-to.pdf
/*/*/*/*/*/octave-workspace
/*/*/*/*/octave-workspace
/*/*/*/octave-workspace
/*/*/octave-workspace
/*/octave-workspace
/book/metodos-numericos.pdf
/tests/test-chapter/metodos-numericos.pdf
